In [1]:
# Read CSV

In [3]:
import pandas as pd
from pathlib import Path

In [11]:
cd /Users/dertesounds/Desktop/Fintech_Class/

/Users/dertesounds/Desktop/Fintech_Class

In [12]:
ls

FinTech_Notebook/               Untitled.ipynb
For Loops - Exercise_Py3.ipynb  Untitled1.ipynb
For Loops - Solution_Py3.ipynb  Untitled2.ipynb
Icebreaker/                     cu-nyc-fin-pt-09-2020-u-c/
Path.ipynb                      cu-nyc-fin-pt-09-2020-u-c-1/
Practice/                       python-homework/

In [15]:
cd cu-nyc-fin-pt-09-2020-u-c-1/Homework/02-Python/Instructions/PyBank/Resources/

/Users/dertesounds/Desktop/Fintech_Class/cu-nyc-fin-pt-09-2020-u-c-1/Homework/02-Python/Instructions/PyBank/Resources

In [20]:
csvpath = Path("../Resources/budget_data.csv")

In [94]:
budget_dataframe = pd.read_csv(csvpath)

In [123]:
budget_dataframe.head(20)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
5   Jun-2010         522857
6   Jul-2010        1033096
7   Aug-2010         604885
8   Sep-2010        -216386
9   Oct-2010         477532
10  Nov-2010         893810
11  Dec-2010         -80353
12  Jan-2011         779806
13  Feb-2011        -335203
14  Mar-2011         697845
15  Apr-2011         793163
16  May-2011         485070
17  Jun-2011         584122
18  Jul-2011          62729
19  Aug-2011         668179

In [96]:
budget_dataframe.count()

Date             86
Profit/Losses    86
dtype: int64

In [83]:
# Total Months

In [100]:
total_month = budget_dataframe['Date'].count()

In [120]:
print(f"{total_month} months")

86 months

In [118]:
# Net Profit

In [116]:
total_netprofit = budget_dataframe['Profit/Losses'].sum()

In [117]:
print(f'${total_netprofit}')

$38382578

In [124]:
# The average of the changes in Profit/Losses over the entire period

In [132]:
Profit_Losses_List = budget_dataframe['Profit/Losses'].tolist()

In [133]:
Average_Change_List = []
Average_Change_List_Org=[]

In [137]:
for i in range(1,len(Profit_Losses_List)):
    Ave_Change = Profit_Losses_List[i] - Profit_Losses_List[i - 1]
    Average_Change_List.append(Ave_Change)
    Average_Change_List_Org.append(Ave_Change)
    
Average_Change = sum(Average_Change_List)/len(Average_Change_List)

In [138]:
Average_Change

-2315.1176470588234

In [ ]:
# Calculate Greatest Increase and Decrease in Profits

In [139]:
Average_Change_List.sort()

In [164]:
Greatest_Decrease = Average_Change_List[0]

Greatest_Increase = Average_Change_List[len(Average_Change_List)-1]

In [165]:
min_index = Average_Change_List_Org.index(Greatest_Decrease) + 1
max_index = Average_Change_List_Org.index(Greatest_Increase) + 1

In [199]:
best_Month = budget_dataframe['Date'][min_index]
worst_Month = budget_dataframe['Date'][max_index]

In [200]:
# Print Results

In [202]:
print('----------------------------------')
print(f'Total Months: {total_month}')
print(f'Total: {(total_netprofit)}')
print(f'Average  Change: {(Average_Change)}')
print(f'Greatest Increase in Profits: {best_Month} ({(Greatest_Increase)})')
print(f'Greatest Decrease in Profits: {worst_Month} ({(Greatest_Decrease)})')

----------------------------------
Total Months: 86
Total: 38382578
Average  Change: -2315.1176470588234
Greatest Increase in Profits: Sep-2013 (1926159)
Greatest Decrease in Profits: Feb-2012 (-2196167)

In [203]:
#  Text File

In [205]:

file = open('pybank.txt','a')

file.write('Financial Analysis\n')
file.write('----------------------------------\n')
file.write(f'Total Months: {total_month}\n')
file.write(f'Total: {(total_netprofit)}\n')
file.write(f'Average  Change: {(Average_Change)}\n')
file.write(f'Greatest Increase in Profits: {Least_Month} ({(Greatest_Increase)})\n')
file.write(f'Greatest Decrease in Profits: {Greatest_Month} ({(Greatest_Decrease)})\n')
file.close()