In [1]:
# Read CSV

In [15]:
import pandas as pd
from pathlib import Path

In [28]:
cd /Users/dertesounds/Desktop/Fintech_class

/Users/dertesounds/Desktop/Fintech_Class

In [29]:
ls

FinTech_Notebook/               Untitled.ipynb
For Loops - Exercise_Py3.ipynb  Untitled1.ipynb
For Loops - Solution_Py3.ipynb  Untitled2.ipynb
Icebreaker/                     cu-nyc-fin-pt-09-2020-u-c/
Path.ipynb                      cu-nyc-fin-pt-09-2020-u-c-1/
Practice/                       python-homework/

In [30]:
cd cu-nyc-fin-pt-09-2020-u-c/

/Users/dertesounds/Desktop/Fintech_Class/cu-nyc-fin-pt-09-2020-u-c

In [31]:
ls

01-Intro-to-FinTech/ Homework/            README.md
02-Python/           Jupyter-Workspace/   Resources/
03-Python-Pandas/    Projects/            Untitled Folder/

In [32]:
cd Homework/

/Users/dertesounds/Desktop/Fintech_Class/cu-nyc-fin-pt-09-2020-u-c/Homework

In [33]:
ls

01-FinTech/ 02-Python/

In [34]:
cd 02-Python/

/Users/dertesounds/Desktop/Fintech_Class/cu-nyc-fin-pt-09-2020-u-c/Homework/02-Python

In [35]:
ls

Instructions/

In [38]:
ls -a

./            ../           .DS_Store     Instructions/

In [39]:
cd Instructions/

/Users/dertesounds/Desktop/Fintech_Class/cu-nyc-fin-pt-09-2020-u-c/Homework/02-Python/Instructions

In [40]:
ls

FinTech_Unit_2_Homework_ Grading_Rubric - PyBank.pdf
FinTech_Unit_2_Homework_ Grading_Rubric.pdf
Images/
PyBank/
PyRamen/
README.md

In [41]:
cd PyBank/

/Users/dertesounds/Desktop/Fintech_Class/cu-nyc-fin-pt-09-2020-u-c/Homework/02-Python/Instructions/PyBank

In [42]:
ls

Resources/

In [43]:
cd Resources/

/Users/dertesounds/Desktop/Fintech_Class/cu-nyc-fin-pt-09-2020-u-c/Homework/02-Python/Instructions/PyBank/Resources

In [44]:
ls

budget_data.csv

In [47]:
pd.read_csv("budget_data.csv")

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [48]:
# The total number of months included in the dataset.